__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.env.*
.venv/
.venv_wsl/
venv/
ENV/
.envrc
pip-wheel-metadata/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage*
.cache
pytest_cache/
.pytest_cache/

# IDEs and tools
.mypy_cache/
.pyre/
.pytype/
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Reports and datasets
*.xlsx

# Poetry / PDM
.poetry/
.pdm.toml

# Misc
*.log
